<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      <%= @recievedSubmission.name %>
      <!-- all the data from the receiever  -->
    </p>
  </body>
</html>
